<aside class="sidebar">
    <div class="sidebar__menu-group">
        <ul class="sidebar_nav">
            <li class="menu-title">
                <span>Menus</span>
            </li>

            <li class="">
                <a href="#" class="">
                    <span data-feather="cpu" class="nav-icon"></span>
                    <span class="menu-text">Gerer les utilisateurs</span>
                    
                </a>
            </li>
            <li>
                <a href="/admin/customer/list" class="">
                    <span data-feather="cpu" class="nav-icon"></span>
                    <span class="menu-text">Liste des clients</span>    
                </a>
            </li>
            <li>
                <a href="/admin/customer/add" class="">
                    <span data-feather="cpu" class="nav-icon"></span>
                    <span class="menu-text">Ajouter client</span> </a>
            </li>
            <li>
                
                <a href="/admin/customer/search" class="">
                    <span data-feather="cpu" class="nav-icon"></span>
                    <span class="menu-text">Rechercher client</span> </a>
                    
            </li>
            <li>
                <a href="/admin/list" class="">
                    <span data-feather="cpu" class="nav-icon"></span>
                    <span class="menu-text">Liste des administrateurs</span>
                    
                </a>
            </li>
            <li>
                <a href="/admin/add" class="">
                    <span data-feather="cpu" class="nav-icon"></span>
                    <span class="menu-text"> Ajouter un administrateurs</span>
                   
                </a>
            </li>
            <li>
                <a href="/admin/distributeur/add" class="">
                    <span data-feather="cpu" class="nav-icon"></span>
                    <span class="menu-text"> Ajouter un distributeur</span>
                   
                </a>
            </li>
            <li>
                <a href="/admin/distributeur/list" class="">
                    <span data-feather="cpu" class="nav-icon"></span>
                    <span class="menu-text"> Liste des distributeurs</span>
                   
                </a>
            </li>
        </ul>
    </div>
</aside>