<aside class="sidebar">
    <div class="sidebar__menu-group">
        <ul class="sidebar_nav">
            <li class="menu-title">
                <span>Menus</span>
            </li>

            <li class="has-child">
                <a href="#" class="">
                    <span data-feather="cpu" class="nav-icon"></span>
                    <span class="menu-text">Gerer les utilisateurs</span>
                    <span class="toggle-icon"></span>
                </a>
                <ul>
                    <li>
                        <a href="/admin/customer/list" class="">Liste des clients</a>
                    </li>
                    <li>
                        <a href="/admin/customer/add" class="">Ajouter un client</a>
                    </li>
                    <li>
                        <a href="/admin/list" class="">Liste des administrateurs</a>
                    </li>
                    <li>
                        <a href="/admin/add" class="">Ajouter un administrateurs</a>
                    </li>
                   
                </ul>
        </ul>
    </div>
</aside>