{%extends "./include/client/base.html" %}
{% block title %}Dashboard {% endblock %}
{% block content %}
<div class="row ">
    <div class="col-lg-12">

        <div class="breadcrumb-main">
            <h4 class="text-capitalize breadcrumb-title">Dashboard</h4>
            <div class="breadcrumb-action justify-content-center flex-wrap">
                
                
                
                <div class="action-btn">
                    <a href="" class="btn btn-sm btn-primary btn-add">
                        <i class="la la-plus"></i> Faire un dépot </a>
                </div>
            </div>
        </div>

    </div>
    <div class="col-xxl-3 col-md-6 col-ssm-12 mb-30">
        <!-- Card 1 -->
        <div class="ap-po-details p-25 radius-xl bg-white d-flex justify-content-between">
            <div>
                <div class="overview-content">
                    <h1>{{customer.accounts.balance}} CFA</h1>
                    <p>SOLDE</p>                   
                </div>

            </div>
            <div class="ap-po-timeChart">
                <div class="overview-single__chart d-md-flex align-items-end">
                    <div class="parentContainer">
                        <div>
                            <canvas id="mychart8"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Card 1 End -->
    </div>
    <div class="col-xxl-3 col-md-6 col-ssm-12 mb-30">
        <!-- Card 2 End  -->
        <div class="ap-po-details p-25 radius-xl bg-white d-flex justify-content-between">
            <div>
                <div class="overview-content">
                    <h1>20000 CFA</h1>
                    <p>Dépot journalière</p>
                    
                </div>

            </div>
            <div class="ap-po-timeChart">
                <div class="overview-single__chart d-md-flex align-items-end">
                    <div class="parentContainer">
                        <div>
                            <canvas id="mychart9"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Card 2 End  -->
    </div>
    <div class="col-xxl-3 col-md-6 col-ssm-12 mb-30">
        <!-- Card 3 -->
        <div class="ap-po-details p-25 radius-xl bg-white d-flex justify-content-between">
            <div>
                <div class="overview-content">
                    <h1>452000 CFA </h1>
                    <p>Total mensuel</p>
                </div>

            </div>
            <div class="ap-po-timeChart">
                <div class="overview-single__chart d-md-flex align-items-end">
                    <div class="parentContainer">


                        <div>
                            <canvas id="mychart10"></canvas>
                        </div>


                    </div>
                </div>
            </div>
        </div>
        <!-- Card 3 End -->
    </div>
    <div class="col-xxl-3 col-md-6 col-ssm-12 mb-30">
        <!-- Card 1 -->
        <div class="ap-po-details p-25 radius-xl bg-white d-flex justify-content-between">
            <div>
                <div class="overview-content">
                    <h1>450000 CFA</h1>
                    <p>Total annuel</p>
                </div>

            </div>
            <div class="ap-po-timeChart">
                <div class="overview-single__chart d-md-flex align-items-end">
                    <div class="parentContainer">


                        <div>
                            <canvas id="mychart11"></canvas>
                        </div>


                    </div>
                </div>
            </div>
        </div>
        <!-- Card 1 End -->
    </div>     
</div>
<!-- ends: .row -->
{% endblock %}