<aside class="sidebar">
    <div class="sidebar__menu-group">
        <ul class="sidebar_nav">
            <li class="menu-title">
                <span>Menus</span>
            </li>

            <li class="">
                <a href="/customer" class="">
                    <span data-feather="cpu" class="nav-icon"></span>
                    <span class="menu-text">Dashboard</span>
                    
                </a>
            </li>
            <li class="">
                <a href="/customer/profile" class="">
                    <span data-feather="cpu" class="nav-icon"></span>
                    <span class="menu-text">Gerer mon compte</span>
                    
                </a>
            </li>
            <li class="">
                <a href="/customer/send" class="">
                    <span data-feather="cpu" class="nav-icon"></span>
                    <span class="menu-text">Faire un transfert</span>
                    
                </a>
            </li>
            <li class="">
                <a href="/customer/deposit" class="">
                    <span data-feather="cpu" class="nav-icon"></span>
                    <span class="menu-text">Faire un depot</span>
                    
                </a>
            </li>
            <li class="">
                <a href="/customer/transactions" class="">
                    <span data-feather="cpu" class="nav-icon"></span>
                    <span class="menu-text">Les transactions</span>
                    
                </a>
            </li>
           
            
           
            
           
        </ul>
    </div>
</aside>